<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cnpj %><br>
    <%= f.text_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :serie %><br>
    <%= f.text_field :serie %>
  </div>
  <div class="field">
    <%= f.label :issuedAt %><br>
    <%= f.datetime_select :issuedAt %>
  </div>
  <div class="field">
    <%= f.label :accessKey %><br>
    <%= f.text_field :accessKey %>
  </div>
  <div class="field">
    <%= f.label :linkXml %><br>
    <%= f.text_field :linkXml %>
  </div>
  <div class="field">
    <%= f.label :linkDanfe %><br>
    <%= f.text_field :linkDanfe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
