<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Number</th>
      <th>Serie</th>
      <th>Issuedat</th>
      <th>Accesskey</th>
      <th>Linkxml</th>
      <th>Linkdanfe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.cnpj %></td>
        <td><%= invoice.number %></td>
        <td><%= invoice.serie %></td>
        <td><%= invoice.issuedAt %></td>
        <td><%= invoice.accessKey %></td>
        <td><%= invoice.linkXml %></td>
        <td><%= invoice.linkDanfe %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
