<h1>Listing produto_market_places</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Marketempresa</th>
      <th>Valorde</th>
      <th>Valorpor</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produto_market_places.each do |produto_market_place| %>
      <tr>
        <td><%= produto_market_place.produto.title %></td>
        <td><%= produto_market_place.marketEmpresa.marketPlace.nome %></td>
        <td><%= produto_market_place.valorDe %></td>
        <td><%= produto_market_place.valorPor %></td>
        <td><%= produto_market_place.status %></td>
        <td><%= link_to 'Show', produto_market_place %></td>
        <td><%= link_to 'Edit', edit_produto_market_place_path(produto_market_place) %></td>
        <td><%= link_to 'Destroy', produto_market_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Market Place para o produto', new_produto_market_place_path %>
