<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @produto_market_place.produto.title %>
</p>

<p>
  <strong>Market Place:</strong>
  <%= @produto_market_place.marketEmpresa.marketPlace.nome %>
</p>

<p>
  <strong>Valor De:</strong>
  <%= @produto_market_place.valorDe %>
</p>

<p>
  <strong>Valor Por:</strong>
  <%= @produto_market_place.valorPor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @produto_market_place.status %>
</p>

<%= link_to 'Edit', edit_produto_market_place_path(@produto_market_place) %> |
<%= link_to 'Back', edit_produto_path(@prod_id) %>
