<p id="notice"><%= notice %></p>

<p>
  <strong>Marketplace:</strong>
  <%= @market_empresa.marketPlace.nome %>
</p>

<p>
  <strong>Url:</strong>
  <%= @market_empresa.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @market_empresa.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @market_empresa.password %>
</p>

<p>
  <strong>Token:</strong>
  <%= @market_empresa.token %>
</p>

<p>
  <strong>Intervaloestoque:</strong>
  <%= @market_empresa.intervaloEstoque %>
</p>

<p>
  <strong>Intervalopedidos:</strong>
  <%= @market_empresa.intervaloPedidos %>
</p>
</br>
</br>
<div>
	<table>
	  <tr>
	      <th>Marketplace</th>
	      <th>Code</th>
	      <th>Name</th>
	      <th>Image</th>
	      <th colspan="1"></th>
	  </tr>
	  <% @lojas.each do |loja| %>
	      <tr>
	        <td><%= loja.MarketPlace.nome %></td>
	        <td><%= loja.code %></td>
	        <td><%= loja.name %></td>
	        <td><%= loja.image %></td>
	        <td><%= link_to 'Exibir Produtos', edit_get_prod_by_seller_path(loja.id) %></td>
	      </tr>
	  <% end %>
	</table>
</div>
</br>
</br>
<%= link_to 'Edit', edit_market_empresa_path(@market_empresa) %> |
<%= link_to 'Back', market_empresas_path %>
