<%= form_for(@market_place) do |f| %>
  <% if @market_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@market_place.errors.count, "error") %> prohibited this market_place from being saved:</h2>

      <ul>
      <% @market_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
