<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :passwd %><br>
    <%= f.text_field :passwd %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 98 %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, size: 98 %>
  </div>

  
  
  </br>

  <div class="actions">
    <%= f.submit %>
  </div>

  

<% end %>
 