<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @promotion.amount %>
</p>

<p>
  <strong>Type:</strong>
  <%= @promotion.type %>
</p>

<p>
  <strong>Orderitem:</strong>
  <%= @promotion.orderItem %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
