<!DOCTYPE html>
<html>
<head>
  <title>Connect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <div id="topBar">
        
        <% if user_signed_in? %>
          <% if session[:current_empresa_id]!= nil %>
            <h1> <%= session[:current_empresa_name] %> </h1>
          <% else %>
            <h1>Connect</h1>
          <% end %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        <% else %>
          <h1>Connect</h1>
          <%= link_to "Sign up", new_user_registration_path, :class => 'link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'link'  %>
        <% end %>
    </div>
    
    
    <div>
          <div id="menu">
                <% if session[:current_empresa_id]!= nil %>    

                    <%= link_to 'Pedidos', produtos_path, style: "color: white; font-size:small; text-decoration:none;" %></p>
                    <%= link_to 'Produtos', produtos_path, style: "color: white; font-size:small; text-decoration:none;" %></p>
                    <%= link_to 'Market Places', market_empresas_path, style: "color: white; font-size:small; text-decoration:none;" %></p>
                    <hr>
                    <%= link_to 'Markets', market_places_path, style: "color: white; font-size:small; text-decoration:none;" %></p>
                    <%= link_to 'Empresas', empresas_path, style: "color: white; font-size:small; text-decoration:none;" %></p>

                <% end %>
          </div>
        
        
          <div id="container">
              <%= yield %>
          </div>
    </div>
    
</body>
</html>
