<h1>Listing trackings</h1>

<table>
  <thead>
    <tr>
      <th>Controlpoint</th>
      <th>Description</th>
      <th>Occurredat</th>
      <th>Url</th>
      <th>Number</th>
      <th>Sellerdeliveryid</th>
      <th>Cte</th>
      <th>Carrier</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackings.each do |tracking| %>
      <tr>
        <td><%= tracking.controlPoint %></td>
        <td><%= tracking.description %></td>
        <td><%= tracking.occurredAt %></td>
        <td><%= tracking.url %></td>
        <td><%= tracking.number %></td>
        <td><%= tracking.sellerDeliveryId %></td>
        <td><%= tracking.cte %></td>
        <td><%= tracking.carrier %></td>
        <td><%= tracking.invoice %></td>
        <td><%= link_to 'Show', tracking %></td>
        <td><%= link_to 'Edit', edit_tracking_path(tracking) %></td>
        <td><%= link_to 'Destroy', tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracking', new_tracking_path %>
